{% extends "pages/base.html" %}
{% block title %}Hoang Nguyen - Internship CV{% endblock %}
{% block content %}
<header>
    <h1>Hoang Nguyen</h1>
    <p>Computer Science Major | Long Beach University</p>
</header>
<section>
    <h2 class="subtitle">Education</h2>
    <table>
        <tr>
            <th>University</th>
            <th>Major</th>
            <th>Year</th>
        </tr>
        <tr>
            <td>Long Beach University</td>
            <td>Computer Science</td>
            <td>2023-(2025)</td>
        </tr>
        <tr>
            <td>Orange Coast College</td>
            <td>Computer Science</td>
            <td>2020-2023</td>
        </tr>
    </table>
</section>
<section>
    <h2 class="subtitle">Skills</h2>
    <table>
        <tr>
            <td style="font-weight: normal; border: none;">
                <h3>Frontend</h3>
                <p>HTML (basic)</p>
                <p>JavaScript (basic)</p>
                <p>Python Django</p>
            </td>
            <td style="font-weight: normal; border: none;">
                <h3>Backend</h3>
                <p>C++</p>
                <p>Java</p>
                <p>Python</p>
                <p>Haskel</p>
                <p>MySQL</p>
            </td>
        </tr>
    </table>
</section>
<section>
    <h2 class="subtitle">Objective</h2>
    <p>Passionate computer science major aiming to become a full-stack developer. Strong in adapting to new programming languages and working independently. Experienced in game development and operations.</p>
</section>
<section>
    <h2 class="subtitle">Strengths</h2>
    <table>
        <tr>
            <th>Skills</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Languages</td>
            <td>Flexibility in using programming languages</td>
        </tr>
        <tr>
            <td>Work</td>
            <td>Ability to work independently, <br>Have no issues with overtime and prepared to work on urgent tasks</td>
        </tr>
        <!-- Add more strengths as needed -->
    </table>
</section>
<section>
    <h2 class="subtitle">Weakness</h2>
    <p>May struggle with presenting problems clearly, but actively works to foster a friendly communication environment in the team to enhance mutual understanding. Can be overly cautious about results, which may impact personal time management.</p>
</section>
<section>
    <h2 class="subtitle">Projects</h2>
    <p>Github Projects: <a href="https://github.com/hoangarthur">https://github.com/hoangarthur</a></p>
</section>
<section>
    <h2 class="subtitle">Learning Achievements</h2>
    <p>Acquired knowledge in project presentation and structure, class arrangement, class inheritance, and development. Applied basic algorithms such as linked-list, knapsack, insertion-merge-quick sort, breadth-depth-first search.</p>
</section>

{% endblock %}

